<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.CustomOrderMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.CustomOrder" >
    <id column="ddhm" property="ddhm" jdbcType="VARCHAR" />
    <result column="ddssdq" property="ddssdq" jdbcType="VARCHAR" />
    <result column="ddywlx" property="ddywlx" jdbcType="VARCHAR" />
    <result column="ddsj" property="ddsj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ddhm, ddssdq, ddywlx, ddsj
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from custom_order
    where ddhm = #{ddhm,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from custom_order
    where ddhm = #{ddhm,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baiwang.einvoice.qz.beans.CustomOrder" >
    insert into custom_order (ddhm, ddssdq, ddywlx, 
      ddsj)
    values (#{ddhm,jdbcType=VARCHAR}, #{ddssdq,jdbcType=VARCHAR}, #{ddywlx,jdbcType=VARCHAR}, 
      #{ddsj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.einvoice.qz.beans.CustomOrder" >
    insert into custom_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ddhm != null" >
        ddhm,
      </if>
      <if test="ddssdq != null" >
        ddssdq,
      </if>
      <if test="ddywlx != null" >
        ddywlx,
      </if>
      <if test="ddsj != null" >
        ddsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ddhm != null" >
        #{ddhm,jdbcType=VARCHAR},
      </if>
      <if test="ddssdq != null" >
        #{ddssdq,jdbcType=VARCHAR},
      </if>
      <if test="ddywlx != null" >
        #{ddywlx,jdbcType=VARCHAR},
      </if>
      <if test="ddsj != null" >
        #{ddsj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.einvoice.qz.beans.CustomOrder" >
    update custom_order
    <set >
      <if test="ddssdq != null" >
        ddssdq = #{ddssdq,jdbcType=VARCHAR},
      </if>
      <if test="ddywlx != null" >
        ddywlx = #{ddywlx,jdbcType=VARCHAR},
      </if>
      <if test="ddsj != null" >
        ddsj = #{ddsj,jdbcType=VARCHAR},
      </if>
    </set>
    where ddhm = #{ddhm,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.einvoice.qz.beans.CustomOrder" >
    update custom_order
    set ddssdq = #{ddssdq,jdbcType=VARCHAR},
      ddywlx = #{ddywlx,jdbcType=VARCHAR},
      ddsj = #{ddsj,jdbcType=VARCHAR}
    where ddhm = #{ddhm,jdbcType=VARCHAR}
  </update>
</mapper>