<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.KpxxMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.Kpxx" >
    <id column="fpqqlsh" property="fpqqlsh" jdbcType="INTEGER" />
    <result column="xtbs" property="xtbs" jdbcType="VARCHAR" />
    <result column="jhkey" property="jhkey" jdbcType="VARCHAR" />
    <result column="kplx" property="kplx" jdbcType="BIT" />
    <result column="xsfnsrsbh" property="xsfnsrsbh" jdbcType="VARCHAR" />
    <result column="xsfmc" property="xsfmc" jdbcType="VARCHAR" />
    <result column="xsfdzdh" property="xsfdzdh" jdbcType="VARCHAR" />
    <result column="xsfyhzh" property="xsfyhzh" jdbcType="VARCHAR" />
    <result column="gmfnsrsbh" property="gmfnsrsbh" jdbcType="VARCHAR" />
    <result column="gmfmc" property="gmfmc" jdbcType="VARCHAR" />
    <result column="gmfdzdh" property="gmfdzdh" jdbcType="VARCHAR" />
    <result column="gmfyhzh" property="gmfyhzh" jdbcType="VARCHAR" />
    <result column="gmfyx" property="gmfyx" jdbcType="VARCHAR" />
    <result column="gmfsjh" property="gmfsjh" jdbcType="VARCHAR" />
    <result column="kpr" property="kpr" jdbcType="VARCHAR" />
    <result column="skr" property="skr" jdbcType="VARCHAR" />
    <result column="fhr" property="fhr" jdbcType="VARCHAR" />
    <result column="yfpdm" property="yfpdm" jdbcType="VARCHAR" />
    <result column="yfphm" property="yfphm" jdbcType="VARCHAR" />
    <result column="jshj" property="jshj" jdbcType="REAL" />
    <result column="hjje" property="hjje" jdbcType="REAL" />
    <result column="hjse" property="hjse" jdbcType="REAL" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="kprq" property="kprq" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fpqqlsh, xtbs, jhkey, kplx, xsfnsrsbh, xsfmc, xsfdzdh, xsfyhzh, gmfnsrsbh, gmfmc, 
    gmfdzdh, gmfyhzh, gmfyx, gmfsjh, kpr, skr, fhr, yfpdm, yfphm, jshj, hjje, hjse, bz, 
    kprq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kpxx
    where fpqqlsh = #{fpqqlsh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kpxx
    where fpqqlsh = #{fpqqlsh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baiwang.einvoice.qz.beans.Kpxx" >
    insert into kpxx (fpqqlsh, xtbs, jhkey, 
      kplx, xsfnsrsbh, xsfmc, 
      xsfdzdh, xsfyhzh, gmfnsrsbh, 
      gmfmc, gmfdzdh, gmfyhzh, 
      gmfyx, gmfsjh, kpr, 
      skr, fhr, yfpdm, yfphm, 
      jshj, hjje, hjse, bz, 
      kprq)
    values (#{fpqqlsh,jdbcType=INTEGER}, #{xtbs,jdbcType=VARCHAR}, #{jhkey,jdbcType=VARCHAR}, 
      #{kplx,jdbcType=BIT}, #{xsfnsrsbh,jdbcType=VARCHAR}, #{xsfmc,jdbcType=VARCHAR}, 
      #{xsfdzdh,jdbcType=VARCHAR}, #{xsfyhzh,jdbcType=VARCHAR}, #{gmfnsrsbh,jdbcType=VARCHAR}, 
      #{gmfmc,jdbcType=VARCHAR}, #{gmfdzdh,jdbcType=VARCHAR}, #{gmfyhzh,jdbcType=VARCHAR}, 
      #{gmfyx,jdbcType=VARCHAR}, #{gmfsjh,jdbcType=VARCHAR}, #{kpr,jdbcType=VARCHAR}, 
      #{skr,jdbcType=VARCHAR}, #{fhr,jdbcType=VARCHAR}, #{yfpdm,jdbcType=VARCHAR}, #{yfphm,jdbcType=VARCHAR}, 
      #{jshj,jdbcType=REAL}, #{hjje,jdbcType=REAL}, #{hjse,jdbcType=REAL}, #{bz,jdbcType=VARCHAR}, 
      #{kprq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.einvoice.qz.beans.Kpxx" >
    insert into kpxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fpqqlsh != null" >
        fpqqlsh,
      </if>
      <if test="xtbs != null" >
        xtbs,
      </if>
      <if test="jhkey != null" >
        jhkey,
      </if>
      <if test="kplx != null" >
        kplx,
      </if>
      <if test="xsfnsrsbh != null" >
        xsfnsrsbh,
      </if>
      <if test="xsfmc != null" >
        xsfmc,
      </if>
      <if test="xsfdzdh != null" >
        xsfdzdh,
      </if>
      <if test="xsfyhzh != null" >
        xsfyhzh,
      </if>
      <if test="gmfnsrsbh != null" >
        gmfnsrsbh,
      </if>
      <if test="gmfmc != null" >
        gmfmc,
      </if>
      <if test="gmfdzdh != null" >
        gmfdzdh,
      </if>
      <if test="gmfyhzh != null" >
        gmfyhzh,
      </if>
      <if test="gmfyx != null" >
        gmfyx,
      </if>
      <if test="gmfsjh != null" >
        gmfsjh,
      </if>
      <if test="kpr != null" >
        kpr,
      </if>
      <if test="skr != null" >
        skr,
      </if>
      <if test="fhr != null" >
        fhr,
      </if>
      <if test="yfpdm != null" >
        yfpdm,
      </if>
      <if test="yfphm != null" >
        yfphm,
      </if>
      <if test="jshj != null" >
        jshj,
      </if>
      <if test="hjje != null" >
        hjje,
      </if>
      <if test="hjse != null" >
        hjse,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="kprq != null" >
        kprq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fpqqlsh != null" >
        #{fpqqlsh,jdbcType=INTEGER},
      </if>
      <if test="xtbs != null" >
        #{xtbs,jdbcType=VARCHAR},
      </if>
      <if test="jhkey != null" >
        #{jhkey,jdbcType=VARCHAR},
      </if>
      <if test="kplx != null" >
        #{kplx,jdbcType=BIT},
      </if>
      <if test="xsfnsrsbh != null" >
        #{xsfnsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="xsfmc != null" >
        #{xsfmc,jdbcType=VARCHAR},
      </if>
      <if test="xsfdzdh != null" >
        #{xsfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="xsfyhzh != null" >
        #{xsfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="gmfnsrsbh != null" >
        #{gmfnsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="gmfmc != null" >
        #{gmfmc,jdbcType=VARCHAR},
      </if>
      <if test="gmfdzdh != null" >
        #{gmfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="gmfyhzh != null" >
        #{gmfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="gmfyx != null" >
        #{gmfyx,jdbcType=VARCHAR},
      </if>
      <if test="gmfsjh != null" >
        #{gmfsjh,jdbcType=VARCHAR},
      </if>
      <if test="kpr != null" >
        #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="yfpdm != null" >
        #{yfpdm,jdbcType=VARCHAR},
      </if>
      <if test="yfphm != null" >
        #{yfphm,jdbcType=VARCHAR},
      </if>
      <if test="jshj != null" >
        #{jshj,jdbcType=REAL},
      </if>
      <if test="hjje != null" >
        #{hjje,jdbcType=REAL},
      </if>
      <if test="hjse != null" >
        #{hjse,jdbcType=REAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="kprq != null" >
        #{kprq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.einvoice.qz.beans.Kpxx" >
    update kpxx
    <set >
      <if test="xtbs != null" >
        xtbs = #{xtbs,jdbcType=VARCHAR},
      </if>
      <if test="jhkey != null" >
        jhkey = #{jhkey,jdbcType=VARCHAR},
      </if>
      <if test="kplx != null" >
        kplx = #{kplx,jdbcType=BIT},
      </if>
      <if test="xsfnsrsbh != null" >
        xsfnsrsbh = #{xsfnsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="xsfmc != null" >
        xsfmc = #{xsfmc,jdbcType=VARCHAR},
      </if>
      <if test="xsfdzdh != null" >
        xsfdzdh = #{xsfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="xsfyhzh != null" >
        xsfyhzh = #{xsfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="gmfnsrsbh != null" >
        gmfnsrsbh = #{gmfnsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="gmfmc != null" >
        gmfmc = #{gmfmc,jdbcType=VARCHAR},
      </if>
      <if test="gmfdzdh != null" >
        gmfdzdh = #{gmfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="gmfyhzh != null" >
        gmfyhzh = #{gmfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="gmfyx != null" >
        gmfyx = #{gmfyx,jdbcType=VARCHAR},
      </if>
      <if test="gmfsjh != null" >
        gmfsjh = #{gmfsjh,jdbcType=VARCHAR},
      </if>
      <if test="kpr != null" >
        kpr = #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        skr = #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        fhr = #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="yfpdm != null" >
        yfpdm = #{yfpdm,jdbcType=VARCHAR},
      </if>
      <if test="yfphm != null" >
        yfphm = #{yfphm,jdbcType=VARCHAR},
      </if>
      <if test="jshj != null" >
        jshj = #{jshj,jdbcType=REAL},
      </if>
      <if test="hjje != null" >
        hjje = #{hjje,jdbcType=REAL},
      </if>
      <if test="hjse != null" >
        hjse = #{hjse,jdbcType=REAL},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="kprq != null" >
        kprq = #{kprq,jdbcType=VARCHAR},
      </if>
    </set>
    where fpqqlsh = #{fpqqlsh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.einvoice.qz.beans.Kpxx" >
    update kpxx
    set xtbs = #{xtbs,jdbcType=VARCHAR},
      jhkey = #{jhkey,jdbcType=VARCHAR},
      kplx = #{kplx,jdbcType=BIT},
      xsfnsrsbh = #{xsfnsrsbh,jdbcType=VARCHAR},
      xsfmc = #{xsfmc,jdbcType=VARCHAR},
      xsfdzdh = #{xsfdzdh,jdbcType=VARCHAR},
      xsfyhzh = #{xsfyhzh,jdbcType=VARCHAR},
      gmfnsrsbh = #{gmfnsrsbh,jdbcType=VARCHAR},
      gmfmc = #{gmfmc,jdbcType=VARCHAR},
      gmfdzdh = #{gmfdzdh,jdbcType=VARCHAR},
      gmfyhzh = #{gmfyhzh,jdbcType=VARCHAR},
      gmfyx = #{gmfyx,jdbcType=VARCHAR},
      gmfsjh = #{gmfsjh,jdbcType=VARCHAR},
      kpr = #{kpr,jdbcType=VARCHAR},
      skr = #{skr,jdbcType=VARCHAR},
      fhr = #{fhr,jdbcType=VARCHAR},
      yfpdm = #{yfpdm,jdbcType=VARCHAR},
      yfphm = #{yfphm,jdbcType=VARCHAR},
      jshj = #{jshj,jdbcType=REAL},
      hjje = #{hjje,jdbcType=REAL},
      hjse = #{hjse,jdbcType=REAL},
      bz = #{bz,jdbcType=VARCHAR},
      kprq = #{kprq,jdbcType=VARCHAR}
    where fpqqlsh = #{fpqqlsh,jdbcType=INTEGER}
  </update>
</mapper>