<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="zddh" property="zddh" jdbcType="VARCHAR" />
    <result column="fddh" property="fddh" jdbcType="VARCHAR" />
    <result column="fpdq" property="fpdq" jdbcType="VARCHAR" />
    <result column="sqr" property="sqr" jdbcType="VARCHAR" />
    <result column="hym" property="hym" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="VARCHAR" />
    <result column="ddsj" property="ddsj" jdbcType="VARCHAR" />
    <result column="sqsj" property="sqsj" jdbcType="VARCHAR" />
    <result column="fksj" property="fksj" jdbcType="VARCHAR" />
    <result column="spzl" property="spzl" jdbcType="VARCHAR" />
    <result column="sqrk" property="sqrk" jdbcType="VARCHAR" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrdh" property="shrdh" jdbcType="VARCHAR" />
    <result column="jsdz" property="jsdz" jdbcType="VARCHAR" />
    <result column="yjsj" property="yjsj" jdbcType="DATE" />
    <result column="fhr" property="fhr" jdbcType="VARCHAR" />
    <result column="wlgs" property="wlgs" jdbcType="VARCHAR" />
    <result column="wldh" property="wldh" jdbcType="VARCHAR" />
    <result column="tkzt" property="tkzt" jdbcType="VARCHAR" />
    <result column="fpzt" property="fpzt" jdbcType="VARCHAR" />
    <result column="sjhm" property="sjhm" jdbcType="VARCHAR" />
    <result column="yx" property="yx" jdbcType="VARCHAR" />
    <result column="fptt" property="fptt" jdbcType="VARCHAR" />
    <result column="fpttlx" property="fpttlx" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="QueryMap" type="hashmap">
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="lsh" property="lsh" jdbcType="VARCHAR" />
    <result column="zddh" property="zddh" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="VARCHAR" />
    <result column="fpdq" property="fpdq" jdbcType="VARCHAR" />
    <result column="ddsj" property="ddsj" jdbcType="VARCHAR" />
    <result column="fksj" property="fksj" jdbcType="VARCHAR" />
    <result column="sqsj" property="sqsj" jdbcType="VARCHAR" />
    <result column="fptt" property="fptt" jdbcType="VARCHAR" />
    <result column="xmmc" property="xmmc" jdbcType="VARCHAR" />
    <result column="sqrk" property="sqrk" jdbcType="VARCHAR" />
    <result column="bzfp" property="bzfp" jdbcType="VARCHAR" /> 
    <result column="fplx" property="fplx" jdbcType="VARCHAR" />
    <result column="jshj" property="jshj" jdbcType="REAL" />
    <result column="hjje" property="hjje" jdbcType="REAL" />
    <result column="hjse" property="hjse" jdbcType="REAL" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrdh" property="shrdh" jdbcType="VARCHAR" />
    <result column="jsdz" property="jsdz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="QueryMap4zf" type="map">
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="zddh" property="zddh" jdbcType="VARCHAR" />
    <result column="fddh" property="fddh" jdbcType="VARCHAR" />
    <result column="hym" property="hym" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="VARCHAR" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrdh" property="shrdh" jdbcType="VARCHAR" />
    <result column="sqsj" property="sqsj" jdbcType="DATE" />
    <result column="gmfmc" property="gmfmc" jdbcType="VARCHAR" />
    <result column="spzl" property="spzl" jdbcType="VARCHAR" />
    <result column="hjje" property="hjje" jdbcType="REAL" />
    <result column="hjse" property="hjse" jdbcType="REAL" />
    <result column="jshj" property="jshj" jdbcType="REAL" />
    <result column="kplx" property="kplx" jdbcType="REAL" />
    <result column="kprq" property="kprq" jdbcType="VARCHAR" />
    <result column="fpdm" property="fpdm" jdbcType="VARCHAR" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fpqqlsh,zddh,fddh, fpdq,sqr, hym, hyid, ddsj, sqsj, spzl, sqrk, shr, shrdh, jsdz, yjsj, fhr, wlgs, 
    wldh, tkzt, fpzt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByDdh" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where zddh = #{zddh,jdbcType=VARCHAR} and fddh = #{fddh,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByFpqqlsh" parameterType="java.lang.String" >
    delete from order_detail
    where fpqqlsh = #{fpqqlsh,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baiwang.einvoice.qz.beans.OrderDetail" >
    insert into order_detail (id, fpqqlsh, zddh, fddh,fpdq, sqr, 
      hym, hyid, ddsj, sqsj, 
      spzl, sqrk, shr, shrdh, 
      jsdz, yjsj, fhr, wlgs, 
      wldh, tkzt, fpzt)
    values (#{id,jdbcType=BIGINT}, #{fpqqlsh,jdbcType=VARCHAR},#{zddh,jdbcType=VARCHAR},#{fddh,jdbcType=VARCHAR},
      #{fpdq,jdbcType=VARCHAR},#{sqr,jdbcType=VARCHAR}, 
      #{hym,jdbcType=VARCHAR}, #{hyid,jdbcType=VARCHAR}, #{ddsj,jdbcType=VARCHAR}, #{sqsj,jdbcType=VARCHAR}, 
      #{spzl,jdbcType=VARCHAR}, #{sqrk,jdbcType=VARCHAR}, #{shr,jdbcType=VARCHAR}, #{shrdh,jdbcType=VARCHAR}, 
      #{jsdz,jdbcType=VARCHAR}, #{yjsj,jdbcType=DATE}, #{fhr,jdbcType=VARCHAR}, #{wlgs,jdbcType=VARCHAR}, 
      #{wldh,jdbcType=VARCHAR}, #{tkzt,jdbcType=VARCHAR}, #{fpzt,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertFromList" parameterType="java.util.List">
  	insert into order_detail (fpqqlsh, zddh,fpdq, 
       hyid, ddsj, sqsj,fksj, 
      sqrk, shr, shrdh, 
      jsdz,bzfp,sjhm,yx,
      fptt,fpttlx,fpkhlx)
    values 
    <foreach collection="list" item="item" index="index"
   separator=",">
    ( #{item.fpqqlsh,jdbcType=VARCHAR},#{item.zddh,jdbcType=VARCHAR}, #{item.fpdq,jdbcType=VARCHAR},
      #{item.hyid,jdbcType=VARCHAR}, #{item.ddsj,jdbcType=VARCHAR}, #{item.sqsj,jdbcType=VARCHAR},#{item.fksj,jdbcType=VARCHAR}, 
      #{item.sqrk,jdbcType=VARCHAR}, #{item.shr,jdbcType=VARCHAR}, #{item.shrdh,jdbcType=VARCHAR}, 
      #{item.jsdz,jdbcType=VARCHAR}, #{item.bzfp,jdbcType=VARCHAR}, #{item.sjhm,jdbcType=VARCHAR}, #{item.yx,jdbcType=VARCHAR}, 
      #{item.fptt,jdbcType=VARCHAR}, #{item.fpttlx,jdbcType=VARCHAR}, #{item.fpkhlx,jdbcType=VARCHAR}
      )
  </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.baiwang.einvoice.qz.beans.OrderDetail" >
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fpqqlsh != null" >
        fpqqlsh,
      </if>
      <if test="zddh != null" >
        zddh,
      </if>
      <if test="fddh != null" >
        fddh,
      </if>
      <if test="fpdq != null" >
        fpdq,
      </if>
      <if test="sqr != null" >
        sqr,
      </if>
      <if test="hym != null" >
        hym,
      </if>
      <if test="hyid != null" >
        hyid,
      </if>
      <if test="ddsj != null" >
        ddsj,
      </if>
      <if test="sqsj != null" >
        sqsj,
      </if>
      <if test="spzl != null" >
        spzl,
      </if>
      <if test="sqrk != null" >
        sqrk,
      </if>
      <if test="shr != null" >
        shr,
      </if>
      <if test="shrdh != null" >
        shrdh,
      </if>
      <if test="jsdz != null" >
        jsdz,
      </if>
      <if test="yjsj != null" >
        yjsj,
      </if>
      <if test="fhr != null" >
        fhr,
      </if>
      <if test="wlgs != null" >
        wlgs,
      </if>
      <if test="wldh != null" >
        wldh,
      </if>
      <if test="tkzt != null" >
        tkzt,
      </if>
      <if test="fpzt != null" >
        fpzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fpqqlsh != null" >
        #{fpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="zddh != null" >
        #{zddh,jdbcType=VARCHAR},
      </if>
      <if test="fddh != null" >
        #{fddh,jdbcType=VARCHAR},
      </if>
      <if test="fpdq != null" >
        #{fpdq,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null" >
        #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="hym != null" >
        #{hym,jdbcType=VARCHAR},
      </if>
      <if test="hyid != null" >
        #{hyid,jdbcType=VARCHAR},
      </if>
      <if test="ddsj != null" >
        #{ddsj,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null" >
        #{sqsj,jdbcType=DATE},
      </if>
      <if test="spzl != null" >
        #{spzl,jdbcType=VARCHAR},
      </if>
      <if test="sqrk != null" >
        #{sqrk,jdbcType=VARCHAR},
      </if>
      <if test="shr != null" >
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shrdh != null" >
        #{shrdh,jdbcType=VARCHAR},
      </if>
      <if test="jsdz != null" >
        #{jsdz,jdbcType=VARCHAR},
      </if>
      <if test="yjsj != null" >
        #{yjsj,jdbcType=DATE},
      </if>
      <if test="fhr != null" >
        #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="wlgs != null" >
        #{wlgs,jdbcType=VARCHAR},
      </if>
      <if test="wldh != null" >
        #{wldh,jdbcType=VARCHAR},
      </if>
      <if test="tkzt != null" >
        #{tkzt,jdbcType=VARCHAR},
      </if>
      <if test="fpzt != null" >
        #{fpzt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.einvoice.qz.beans.OrderDetail" >
    update order_detail
    <set >
      <if test="fpqqlsh != null" >
        fpqqlsh = #{fpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="zddh != null" >
        zddh = #{zddh,jdbcType=VARCHAR},
      </if>
      <if test="fddh != null" >
        fddh = #{fddh,jdbcType=VARCHAR},
      </if>
       <if test="fpdq != null" >
        fpdq = #{fpdq,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null" >
        sqr = #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="hym != null" >
        hym = #{hym,jdbcType=VARCHAR},
      </if>
      <if test="hyid != null" >
        hyid = #{hyid,jdbcType=VARCHAR},
      </if>
      <if test="ddsj != null" >
        ddsj = #{ddsj,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null" >
        sqsj = #{sqsj,jdbcType=DATE},
      </if>
      <if test="spzl != null" >
        spzl = #{spzl,jdbcType=VARCHAR},
      </if>
      <if test="sqrk != null" >
        sqrk = #{sqrk,jdbcType=VARCHAR},
      </if>
      <if test="shr != null" >
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shrdh != null" >
        shrdh = #{shrdh,jdbcType=VARCHAR},
      </if>
      <if test="jsdz != null" >
        jsdz = #{jsdz,jdbcType=VARCHAR},
      </if>
      <if test="yjsj != null" >
        yjsj = #{yjsj,jdbcType=DATE},
      </if>
      <if test="fhr != null" >
        fhr = #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="wlgs != null" >
        wlgs = #{wlgs,jdbcType=VARCHAR},
      </if>
      <if test="wldh != null" >
        wldh = #{wldh,jdbcType=VARCHAR},
      </if>
      <if test="tkzt != null" >
        tkzt = #{tkzt,jdbcType=VARCHAR},
      </if>
      <if test="fpzt != null" >
        fpzt = #{fpzt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.einvoice.qz.beans.OrderDetail" >
    update order_detail
    set fpqqlsh = #{ddh = #{ddh,jdbcType=VARCHAR},,jdbcType=VARCHAR},
      zddh = #{zddh,jdbcType=VARCHAR},
      fddh = #{fddh,jdbcType=VARCHAR},
      fpdq = #{fpdq,jdbcType=VARCHAR},
      sqr = #{sqr,jdbcType=VARCHAR},
      hym = #{hym,jdbcType=VARCHAR},
      hyid = #{hyid,jdbcType=VARCHAR},
      ddsj = #{ddsj,jdbcType=VARCHAR},
      sqsj = #{sqsj,jdbcType=VARCHAR},
      spzl = #{spzl,jdbcType=VARCHAR},
      sqrk = #{sqrk,jdbcType=VARCHAR},
      shr = #{shr,jdbcType=VARCHAR},
      shrdh = #{shrdh,jdbcType=VARCHAR},
      jsdz = #{jsdz,jdbcType=VARCHAR},
      yjsj = #{yjsj,jdbcType=DATE},
      fhr = #{fhr,jdbcType=VARCHAR},
      wlgs = #{wlgs,jdbcType=VARCHAR},
      wldh = #{wldh,jdbcType=VARCHAR},
      tkzt = #{tkzt,jdbcType=VARCHAR},
      fpzt = #{fpzt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
 
   <select id="getPlainList" resultMap="QueryMap" parameterType="map" >
	select a.fpqqlsh, a.fpqqlsh as lsh , GROUP_CONCAT(b.zddh) as zddh,
	b.hyid,b.fpdq,GROUP_CONCAT(b.ddsj) as ddsj,GROUP_CONCAT(b.fksj) as fksj,
	b.sqsj,b.fptt,GROUP_CONCAT(c.xmmc) as xmmc,GROUP_CONCAT(b.bzfp) as bzfp,
	a.fplx,a.jshj,a.hjse,a.hjje,b.shr,b.shrdh,b.jsdz,b.sqrk
	from kpxx a
	LEFT JOIN order_detail b
	ON a.fpqqlsh = b.fpqqlsh
  	LEFT JOIN fpmx c
  	ON  a.fpqqlsh = c.fpqqlsh
	WHERE a.fpzt = '1' and a.fplx = '007'  and a.xsfnsrsbh = #{nsrsbh} 
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and b.ddsj >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and b.ddsj <= #{endDate} ]]>
    </if>
    <if test="zddh != null and zddh != ''" >
     and b.zddh like CONCAT('%',#{zddh },'%' )
    </if>
    <if test="hyid != null and hyid != ''" >
     and b.hyid = like CONCAT('%',#{hyid},'%' )
    </if>
    <if test="shrdh != null and shrdh != ''" >
     and b.shrdh = like CONCAT('%',#{shrdh},'%' )
    </if>
    GROUP BY a.fpqqlsh,b.hyid,b.fpdq,b.sqsj,b.fptt,a.fplx,a.jshj,a.hjse,a.hjje,b.shr,b.shrdh,b.jsdz
  </select>
  
  <select id="getSpecialList" resultMap="QueryMap" parameterType="map" >
	select a.fpqqlsh, a.fpqqlsh as lsh , GROUP_CONCAT(b.zddh) as zddh,
	b.hyid,b.fpdq,GROUP_CONCAT(b.ddsj) as ddsj,GROUP_CONCAT(b.fksj) as fksj,
	b.sqsj,b.fptt,GROUP_CONCAT(c.xmmc) as xmmc,GROUP_CONCAT(b.bzfp) as bzfp,
	a.fplx,a.jshj,a.hjse,a.hjje,b.shr,b.shrdh,b.jsdz,b.sqrk
	from kpxx a
	LEFT JOIN order_detail b
	ON a.fpqqlsh = b.fpqqlsh
  	LEFT JOIN fpmx c
  	ON  a.fpqqlsh = c.fpqqlsh
	WHERE a.fpzt = '1' and a.fplx = '004'  and a.xsfnsrsbh = #{nsrsbh} 
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and b.ddsj >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and b.ddsj <= #{endDate} ]]>
    </if>
    <if test="zddh != null and zddh != ''" >
     and b.zddh like CONCAT('%',#{zddh },'%' )
    </if>
    <if test="hyid != null and hyid != ''" >
     and b.hyid = like CONCAT('%',#{hyid},'%' )
    </if>
    <if test="shrdh != null and shrdh != ''" >
     and b.shrdh = like CONCAT('%',#{shrdh},'%' )
    </if>
    GROUP BY a.fpqqlsh,b.hyid,b.fpdq,b.sqsj,b.fptt,a.fplx,a.jshj,a.hjse,a.hjje,b.shr,b.shrdh,b.jsdz
  </select>
<!-- 普通发票作废-查询 -->   
  <select id="getPlainList4zf" resultType="java.util.HashMap" parameterType="map" >
	select 
	k.fpqqlsh,o.zddh as ddh,o.hyid,o.fpdq, o.ddsj,o.fksj, o.sqsj, o.fptt,f.xmmc,o.bzfp, k.fplx,o.sqrk,
	o.shr,o.shrdh,o.jsdz,k.hjje,k.hjse,k.jshj,k.kplx,k.kprq,k.fpdm,k.fphm
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '007' 
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
  
<!-- 专用发票作废-查询 -->    
  <select id="getSpecialList4zf" resultType="java.util.HashMap" parameterType="map" >
	select 
	k.fpqqlsh,o.zddh as ddh,o.hyid,o.fpdq, o.ddsj,o.fksj, o.sqsj, o.fptt,f.xmmc,o.bzfp, k.fplx,o.sqrk,
	k.gmfnsrsbh,k.gmfyhzh,CONCAT(k.gmfdz,gmfdh) as gfdzdh,o.shr,o.shrdh,o.jsdz,k.hjje,k.hjse,k.jshj,k.kplx,k.kprq,k.fpdm,k.fphm
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '004'  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
<!-- 普通发票作废-查询总数 -->    
  <select id="getPlainList4zfCount" resultType="java.lang.Integer" parameterType="map" >
	select count(*)
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '007'  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
  </select>
<!-- 专用发票作废-查询总数 -->    
  <select id="getSpecialList4zfCount" resultType="java.lang.Integer" parameterType="map" >
	select count(*)
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '004'  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
  </select>
  <!-- 普通发票冲红-查询 -->   
  <select id="getPlainList4ch" resultType="java.util.HashMap" parameterType="map" >
	select 
	k.fpqqlsh,o.zddh as ddh,o.hyid,o.fpdq, o.ddsj,o.fksj, o.sqsj, o.fptt,f.xmmc,o.bzfp, k.fplx,o.sqrk,
	o.shr,o.shrdh,o.jsdz,k.hjje,k.hjse,k.jshj,k.kprq,k.fpdm,k.fphm
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '007' and k.hjje>0
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
  
<!-- 专用发票冲红-查询 -->    
  <select id="getSpecialList4ch" resultType="java.util.HashMap" parameterType="map" >
	select k.fpqqlsh,o.zddh,k.fddh,o.hym,o.hyid,o.shr,o.shrdh,o.sqsj,
	k.gmfmc,o.spzl,k.hjje,k.hjse,k.jshj,k.kplx,k.kprq,k.fpdm,k.fphm
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh where k.fpzt = '3' and k.fplx = '004' and k.hjje>0  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
<!-- 普通发票冲红-查询总数 -->    
  <select id="getPlainList4chCount" resultType="java.lang.Integer" parameterType="map" >
	select count(*)
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh  LEFT JOIN fpmx f ON k.fpqqlsh=f.fpqqlsh  where k.fpzt = '3' and k.fplx = '007' and k.hjje>0  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
  </select>
<!-- 专用发票冲红-查询总数 -->    
  <select id="getSpecialList4chCount" resultType="java.lang.Integer" parameterType="map" >
	select count(*)
	from kpxx k LEFT JOIN order_detail o ON o.fpqqlsh=k.fpqqlsh where k.fpzt = '3' and k.fplx = '004' and k.hjje>0  
	<if test="nsrsbh != null and nsrsbh != '' " >
      and k.xsfnsrsbh = #{nsrsbh}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     <![CDATA[and k.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate != ''" >
     <![CDATA[and k.kprq <= #{endDate} ]]>
    </if>
    <if test="hyid4q != null and hyid4q != '' " >
     and o.hyid like CONCAT('%',#{hyid4q },'%' )
    </if>
    <if test="fphm4q != null and fphm4q != '' " >
     and k.fphm like CONCAT('%',#{fphm4q },'%' )
    </if>
    <if test="ddh4q != null and ddh4q != '' " >
     and o.zddh like CONCAT('%',#{ddh4q },'%' )
    </if>
    <if test="sjh4q != null and sjh4q != '' " >
     and o.shrdh like CONCAT('%',#{sjh4q },'%' )
    </if>
  </select>
</mapper>