<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.PrintDaoMapper" >
  
  <resultMap id="QueryPrintPpMap" type="hashmap">
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="zddh" property="zddh" jdbcType="VARCHAR" />
    <result column="fddh" property="fddh" jdbcType="VARCHAR" />
    <result column="hym" property="hym" jdbcType="VARCHAR" /><!-- 会员名 -->
    <result column="shr" property="shr" jdbcType="VARCHAR" /><!-- 收款人 -->
    <result column="sqsj" property="sqsj" jdbcType="DATE" /><!-- 申请时间 --><!-- 地区 -->
    <result column="kpdq" property="kpdq" jdbcType="TINYINT" /><!-- 开票地区 -->
    <result column="gmfmc" property="fptt" jdbcType="VARCHAR" /><!-- 抬头(购买方名称) -->
    <result column="fplx" property="fpzl" jdbcType="VARCHAR" /><!-- 发票种类 -->
    <result column="spzl" property="fpnr" jdbcType="VARCHAR" /> <!-- 发票内容(商品种类) -->
    <result column="hjje" property="hjje" jdbcType="REAL" /><!-- 合计金额 -->
    <result column="hjse" property="hjse" jdbcType="REAL" /><!-- 合计税额 -->
    <result column="jshj" property="jshj" jdbcType="REAL" /><!-- 价税合计 -->
    <result column="kprq" property="kprq" jdbcType="VARCHAR" /><!-- 开票日期 -->
    <result column="fpdm" property="fpdm" jdbcType="VARCHAR" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getPrintPpList" resultMap="QueryPrintPpMap" parameterType="map">
  select a.fpqqlsh fpqqlsh, a.zddh zddh, a.fddh fddh, b.hym hym, b.shr shr, b.sqsj, b.kpdq, a.fplx fpzl,
  a.gmfmc fptt, b.spzl fpnr, a.hjje hjje, a.hjse hjse, a.jshj jshj, a.fpdm fpdm, a.fphm fphm, a.kprq kprq 
  from kpxx a  
  LEFT JOIN order_detail b ON a.fpqqlsh = b.fpqqlsh 
  WHERE 1=1 and a.fpzt = '2' and a.fplx = #{fplx} 
   <if test="beginDate != null and beginDate!=''" >
     <![CDATA[and b.ddsj >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate !=''" >
     <![CDATA[and b.ddsj <= #{endDate} ]]>
    </if>
    <if test="zddh != null and zddh !=''" >
     and b.zddh like CONCAT('%',#{zddh },'%' )
    </if>
    <if test="kpdq != null and kpdq !=''" >
     and kpdq = #{kpdq}
    </if> 
  	LIMIT #{requestPage},#{pageSize}
  </select>
  
  <select id="queryCount" parameterType="map" resultType="int">
  	select count(a.id) count
   	from kpxx a  
	  LEFT JOIN order_detail b ON a.fpqqlsh = b.fpqqlsh 
	  WHERE 1=1 and a.fpzt = '2' and a.fplx = #{fplx} 
	   <if test="beginDate != null and beginDate!=''" >
	     <![CDATA[and b.ddsj >= #{beginDate} ]]>
	    </if>
	    <if test="endDate != null and endDate !=''" >
	     <![CDATA[and b.ddsj <= #{endDate} ]]>
	    </if>
	    <if test="zddh != null and zddh !=''" >
	     and b.zddh like CONCAT('%',#{zddh },'%' )
	    </if>
	    <if test="kpdq != null and kpdq !=''" >
	     and kpdq = #{kpdq}
	    </if> 
  
  </select>
  
  <resultMap id="QueryPrintPpsMap" type="hashmap">
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="kprq" property="kprq" jdbcType="VARCHAR" /><!-- 开票日期 -->
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getPrintPpsList" parameterType="map" resultMap="QueryPrintPpsMap">
  	select a.fpqqlsh fpqqlsh, a.kprq kprq, a.fphm fphm 
  	from kpxx a 
  	WHERE 1=1  and a.fpzt = '2' and a.fplx = #{fplx} 
  	<if test="beginDate != null and beginDate!=''" >
     <![CDATA[and a.kprq >= #{beginDate} ]]>
    </if>
    <if test="endDate != null and endDate !=''" >
     <![CDATA[and a.kprq <= #{endDate} ]]>
    </if>
    <if test="beginfphm != null and beginfphm !=''" >
     <![CDATA[and a.fphm >= #{beginfphm} ]]>
    </if>
    <if test="endfphm != null and endfphm !=''" >
     <![CDATA[and a.fphm <= #{endfphm} ]]>
    </if> 
    order by CAST(a.fphm AS SIGNED)
  </select>
  
  <select id="showDetail" resultMap="QueryPrintPpMap" parameterType="map">
  select a.fpqqlsh fpqqlsh, a.zddh zddh, a.fddh fddh, b.hym hym, b.shr shr, b.sqsj, b.kpdq, a.fplx fpzl,
  a.gmfmc fptt, b.spzl fpnr, a.hjje hjje, a.hjse hjse, a.jshj jshj, a.fpdm fpdm, a.fphm fphm, a.kprq kprq 
  from kpxx a  
  LEFT JOIN order_detail b ON a.fpqqlsh = b.fpqqlsh 
  WHERE 1=1 and a.fpzt = '2' and a.fplx = #{fplx} 
  <![CDATA[and a.fphm <= #{end} and a.fphm >= #{begin} ]]>
  </select>
  
  <update id="savePrintResult">
  	update kpxx set fpzt = #{fpzt} where fpqqlsh = #{fpqqlsh}
  </update>
  
  <resultMap id="QueryPrintsFphmsMap" type="hashmap">
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="fpdm" property="fpdm" jdbcType="VARCHAR" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getPrintsFphm" resultMap="QueryPrintsFphmsMap">
  	select fpqqlsh,fpdm,fphm from kpxx 
  	where fpzt = '2' <![CDATA[ and fphm <= #{endfphm} and fphm >= #{beginfphm} ]]> order by fphm
  </select>
  
  
  
</mapper>