<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.ReportDetailMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.ReportDetail" >
    <id column="zddh" property="ddh" jdbcType="VARCHAR" />
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="sqr" property="sqr" jdbcType="VARCHAR" />
    <result column="hym" property="hym" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="VARCHAR" />
    <result column="ddsj" property="ddsj" jdbcType="DATE" />
    <result column="sqsj" property="sqsj" jdbcType="DATE" />
    <result column="fptt" property="fptt" jdbcType="VARCHAR" />
    <result column="fplx" property="fplx" jdbcType="VARCHAR" />
    <result column="fpzl" property="fpzl" jdbcType="VARCHAR" />
    <result column="sqrk" property="sqrk" jdbcType="VARCHAR" />
    <result column="je" property="je" jdbcType="INTEGER" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrdh" property="shrdh" jdbcType="VARCHAR" />
    <result column="jsdz" property="jsdz" jdbcType="VARCHAR" />
    <result column="yjsj" property="yjsj" jdbcType="DATE" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
    <result column="fhr" property="fhr" jdbcType="VARCHAR" />
    <result column="wlgs" property="wlgs" jdbcType="VARCHAR" />
    <result column="wldh" property="wldh" jdbcType="VARCHAR" />
    <result column="tkzt" property="tkzt" jdbcType="VARCHAR" />
    <result column="fpzt" property="fpzt" jdbcType="VARCHAR" />
    <result column="ddzt" property="ddzt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="report_Column_List" >
    o.fpqqlsh,o.zddh as ddh, o.sqr, o.hym, o.hyid, o.ddsj, o.sqsj, k.gmfmc as fptt, o.spzl as fplx,k.fplx as fpzl, o.sqrk, k.hjje as je, o.shr, o.shrdh, o.jsdz, o.yjsj, 
    k.fphm, o.fhr, o.wlgs, o.wldh, o.tkzt, o.fpzt
  </sql>
  <select id="getFpByLSH" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="report_Column_List" />
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and o.fpqqlsh=#{fpqqlsh}
  </select>
  <select id="getFpListByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="report_Column_List" />
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and k.fpzt = '3'
    <if test="ddh4q != null and ddh4q !=''">
	   and o.zddh = #{ddh4q,jdbcType=VARCHAR} 
    </if>
    <if test="dateS != null and dateS !=''">
	   <![CDATA[and o.sqsj >= #{dateS} ]]>
    </if>
    <if test="dateE != null and dateE !=''">
	   <![CDATA[and o.sqsj <= #{dateE} ]]>
    </if>
    <if test="kpdq4q != null and kpdq4q !=''">
	   and o.kpdq = #{kpdq4q,jdbcType=VARCHAR} 
    </if>
    <if test="fpzl4q != null and fpzl4q !=''">
	   and k.fplx = #{fpzl4q,jdbcType=VARCHAR} 
    </if>
    <if test="fplx4q != null and fplx4q !=''">
	   and o.spzl = #{fplx4q,jdbcType=VARCHAR} 
    </if>
    <if test="fptt4q != null and fptt4q !=''">
	   and k.gmfmc = #{fptt4q,jdbcType=VARCHAR} 
    </if>
  </select>
</mapper>