<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.ReportDetail" >
    <id column="zddh" property="ddh" jdbcType="VARCHAR" />
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="sqr" property="sqr" jdbcType="VARCHAR" />
    <result column="hym" property="hym" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="VARCHAR" />
    <result column="ddsj" property="ddsj" jdbcType="DATE" />
    <result column="sqsj" property="sqsj" jdbcType="DATE" />
    <result column="fptt" property="fptt" jdbcType="VARCHAR" />
    <result column="fplx" property="fplx" jdbcType="VARCHAR" />
    <result column="fpzl" property="fpzl" jdbcType="VARCHAR" />
    <result column="bzfp" property="bzfp" jdbcType="VARCHAR" />
    <result column="sqrk" property="sqrk" jdbcType="VARCHAR" />
    <result column="je" property="je" jdbcType="REAL" />
    <result column="shr" property="shr" jdbcType="VARCHAR" />
    <result column="shrdh" property="shrdh" jdbcType="VARCHAR" />
    <result column="jsdz" property="jsdz" jdbcType="VARCHAR" />
    <result column="yjsj" property="yjsj" jdbcType="DATE" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
    <result column="fhr" property="fhr" jdbcType="VARCHAR" />
    <result column="wlgs" property="wlgs" jdbcType="VARCHAR" />
    <result column="wldh" property="wldh" jdbcType="VARCHAR" />
    <result column="tkzt" property="tkzt" jdbcType="VARCHAR" />
    <result column="fpzt" property="fpzt" jdbcType="VARCHAR" />
    <result column="ddzt" property="ddzt" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="statMap" type="com.baiwang.einvoice.qz.beans.ReportTotal" >
  	<result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="fpdq" property="fpdq" jdbcType="VARCHAR" />
    <result column="fpkh" property="fpkh" jdbcType="VARCHAR" />
    <result column="kprq" property="kprq" jdbcType="DATE" />
    <result column="fpzl" property="fpzl" jdbcType="VARCHAR" />
    <result column="fpdm" property="fpdm" jdbcType="VARCHAR" />
    <result column="fphm" property="fphm" jdbcType="VARCHAR" />
    <result column="fplx" property="fplx" jdbcType="VARCHAR" />
    <result column="gfmc" property="gfmc" jdbcType="VARCHAR" />
    <result column="fpnr" property="fpnr" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="hjje" property="hjje" jdbcType="REAL" />
    <result column="hjse" property="hjse" jdbcType="REAL" />
    <result column="jshj" property="jshj" jdbcType="REAL" />
    <result column="fpjd" property="fpjd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="report_Column_List" >
    o.fpqqlsh,o.zddh as ddh, o.sqr, o.hym, o.hyid, o.ddsj, o.sqsj, k.gmfmc as fptt, o.spzl as fplx,k.fplx as fpzl, o.sqrk, k.hjje as je, o.shr, o.shrdh, o.jsdz, o.yjsj, 
    k.fphm, o.fhr, o.wlgs, o.wldh, o.tkzt, o.fpzt,o.bzfp
  </sql>
  <select id="getFpByLSH" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="report_Column_List" />
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and o.fpqqlsh=#{fpqqlsh}
  </select>
  <select id="getFpStatByLSH" parameterType="java.lang.String" resultMap="statMap">
  	select 
  	o.fpqqlsh,o.kpdq as fpdq,o.fpkh,k.kprq,k.fplx as fpzl,k.fpdm,k.fphm,k.gmfmc as gfmc,o.spzl as fpnr,k.bz,k.hjje,k.hjse,k.jshj,k.fpzt as fpjd,o.fptt as ttlx
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and o.fpqqlsh=#{fpqqlsh}
  </select>
  <select id="getFpListByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="report_Column_List" />
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and k.fpzt = '3'
    <if test="ddh4q != null and ddh4q !=''">
	   and o.zddh = #{ddh4q,jdbcType=VARCHAR} 
    </if>
    <if test="dateS != null and dateS !=''">
	   <![CDATA[and o.sqsj >= #{dateS} ]]>
    </if>
    <if test="dateE != null and dateE !=''">
	   <![CDATA[and o.sqsj <= #{dateE} ]]>
    </if>
    <if test="kpdq4q != null and kpdq4q !=''">
	   and o.kpdq = #{kpdq4q,jdbcType=VARCHAR} 
    </if>
    <if test="fpzl4q != null and fpzl4q !=''">
	   and k.fplx = #{fpzl4q,jdbcType=VARCHAR} 
    </if>
    <if test="fplx4q != null and fplx4q !=''">
	   and o.spzl = #{fplx4q,jdbcType=VARCHAR} 
    </if>
    <if test="fptt4q != null and fptt4q !=''">
    	and o.fptt = #{fptt4q,jdbcType=VARCHAR} 
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
  <select id="getFpStatListByCondition" parameterType="java.util.Map" resultMap="statMap">
  	select 
  	o.fpqqlsh,o.kpdq as fpdq,o.fpkh,k.kprq,k.fplx as fpzl,k.fpdm,k.fphm,k.gmfmc as gfmc,o.spzl as fpnr,k.bz,k.hjje,k.hjse,k.jshj,k.fpzt as fpjd,o.fptt as ttlx
    from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and k.fpzt in('3','-2')
    <if test="dateS != null and dateS !=''">
	   <![CDATA[and k.kprq >= #{dateS} ]]>
    </if>
    <if test="dateE != null and dateE !=''">
	   <![CDATA[and k.kprq <= #{dateE} ]]>
    </if>
    <if test="kpdq4q != null and kpdq4q !=''">
	   and o.kpdq = #{kpdq4q,jdbcType=VARCHAR} 
    </if>
    <if test="fpzl4q != null and fpzl4q !=''">
	   and k.fplx = #{fpzl4q,jdbcType=VARCHAR} 
    </if>
    <if test="fplx4q != null and fplx4q !=''">
	   and o.spzl = #{fplx4q,jdbcType=VARCHAR} 
    </if>
    <if test="fptt4q != null and fptt4q !=''">
    	and o.fptt = #{fptt4q,jdbcType=VARCHAR} 
    </if>
    ORDER BY k.fphm
    <if test="startRow != null and rows !=null">
    LIMIT #{startRow},#{rows}
    </if>
  </select>
  <select id="getFpCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(*) from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and k.fpzt = '3'
    <if test="ddh4q != null and ddh4q !=''">
	   and o.zddh = #{ddh4q,jdbcType=VARCHAR} 
    </if>
    <if test="dateS != null and dateS !=''">
	   <![CDATA[and o.sqsj >= #{dateS} ]]>
    </if>
    <if test="dateE != null and dateE !=''">
	   <![CDATA[and o.sqsj <= #{dateE} ]]>
    </if>
    <if test="kpdq4q != null and kpdq4q !=''">
	   and o.kpdq = #{kpdq4q,jdbcType=VARCHAR} 
    </if>
    <if test="fpzl4q != null and fpzl4q !=''">
	   and k.fplx = #{fpzl4q,jdbcType=VARCHAR} 
    </if>
    <if test="fplx4q != null and fplx4q !=''">
	   and o.spzl = #{fplx4q,jdbcType=VARCHAR} 
    </if>
    <if test="fptt4q != null and fptt4q !=''">
    	and o.fptt = #{fptt4q,jdbcType=VARCHAR} 
    </if>
  </select>
  <select id="getFpStatCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(*) from order_detail o,kpxx k where o.fpqqlsh=k.fpqqlsh and k.fpzt in('3','-2')
    <if test="dateS != null and dateS !=''">
	   <![CDATA[and k.kprq >= #{dateS} ]]>
    </if>
    <if test="dateE != null and dateE !=''">
	   <![CDATA[and k.kprq <= #{dateE} ]]>
    </if>
    <if test="kpdq4q != null and kpdq4q !=''">
	   and o.kpdq = #{kpdq4q,jdbcType=VARCHAR} 
    </if>
    <if test="fpzl4q != null and fpzl4q !=''">
	   and k.fplx = #{fpzl4q,jdbcType=VARCHAR} 
    </if>
    <if test="fplx4q != null and fplx4q !=''">
	   and o.spzl = #{fplx4q,jdbcType=VARCHAR} 
    </if>
    <if test="fptt4q != null and fptt4q !=''">
    	and o.fptt = #{fptt4q,jdbcType=VARCHAR} 
    </if>
  </select>
  
</mapper>