<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.ResultOfKpMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.ResultOfKp" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ddhm" property="ddhm" jdbcType="VARCHAR" />
    <result column="correlationID" property="correlationid" jdbcType="VARCHAR" />
    <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="operateTime" property="operatetime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddhm, correlationID, fpqqlsh, code, msg, operateTime, createTime
  </sql>
  
  <select id="queryResult" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from resultofkp 
    where ddhm = #{ddhm,jdbcType=VARCHAR} 
  </select>
  
  <insert id="save" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp">
  	insert into resultofkp (ddhm, correlationID, 
      fpqqlsh, code, msg, 
      operateTime, createTime)
    values ( #{ddhm,jdbcType=VARCHAR}, #{correlationid,jdbcType=VARCHAR}, #{fpqqlsh,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, NOW(), 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  
  <select id="selectByDdhm" parameterType="string" resultType="int">
  	select count(id) from resultofkp where ddhm = #{ddhm,jdbcType=VARCHAR} 
  </select>
  
  <update id="updateByDdhm" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp">
  	update resultofkp
    set ddhm = #{ddhm,jdbcType=VARCHAR}, 
    correlationID = #{correlationid,jdbcType=VARCHAR}, 
      fpqqlsh = #{fpqqlsh,jdbcType=VARCHAR}, 
      code = #{code,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      operateTime = now()
    where ddhm = #{ddhm,jdbcType=VARCHAR} 
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resultofkp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resultofkp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp" >
    insert into resultofkp (id, ddhm, correlationID, 
      fpqqlsh, code, msg, 
      operateTime, createTime)
    values (#{id,jdbcType=BIGINT}, #{ddhm,jdbcType=VARCHAR}, #{correlationid,jdbcType=VARCHAR}, 
      #{fpqqlsh,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{operatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp" >
    insert into resultofkp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ddhm != null" >
        ddhm,
      </if>
      <if test="correlationid != null" >
        correlationID,
      </if>
      <if test="fpqqlsh != null" >
        fpqqlsh,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="operatetime != null" >
        operateTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ddhm != null" >
        #{ddhm,jdbcType=VARCHAR},
      </if>
      <if test="correlationid != null" >
        #{correlationid,jdbcType=VARCHAR},
      </if>
      <if test="fpqqlsh != null" >
        #{fpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp" >
    update resultofkp
    <set >
      <if test="ddhm != null" >
        ddhm = #{ddhm,jdbcType=VARCHAR},
      </if>
      <if test="correlationid != null" >
        correlationID = #{correlationid,jdbcType=VARCHAR},
      </if>
      <if test="fpqqlsh != null" >
        fpqqlsh = #{fpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null" >
        operateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.einvoice.qz.beans.ResultOfKp" >
    update resultofkp
    set ddhm = #{ddhm,jdbcType=VARCHAR},
      correlationID = #{correlationid,jdbcType=VARCHAR},
      fpqqlsh = #{fpqqlsh,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      operateTime = #{operatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>