<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.einvoice.qz.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.einvoice.qz.beans.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CZYDM" property="czydm" jdbcType="VARCHAR" />
    <result column="CZYMC" property="czymc" jdbcType="VARCHAR" />
    <result column="YHLX" property="yhlx" jdbcType="CHAR" />
    <result column="YHKL" property="yhkl" jdbcType="VARCHAR" />
    <result column="QYBZ" property="qybz" jdbcType="CHAR" />
    <result column="CJRDM" property="cjrdm" jdbcType="VARCHAR" />
    <result column="CJSJ" property="cjsj" jdbcType="DATE" />
    <result column="KPDDM" property="kpddm" jdbcType="VARCHAR" />
    <result column="FWQBH" property="fwqbh" jdbcType="VARCHAR" />
    <result column="NSRSBH" property="nsrsbh" jdbcType="VARCHAR" />
    <result column="ZZJGDM" property="zzjgdm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CZYDM, CZYMC, YHLX, YHKL, QYBZ, CJRDM, CJSJ, KPDDM, FWQBH, NSRSBH, ZZJGDM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dj_czyxx
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserByPass" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
    count(1)
    from dj_czyxx
    where ID = #{id,jdbcType=VARCHAR} and YHKL = #{yhkl,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dj_czyxx
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baiwang.einvoice.qz.beans.User" >
    insert into dj_czyxx (ID, CZYDM, CZYMC, 
      YHLX, YHKL, QYBZ, CJRDM, 
      CJSJ, KPDDM, FWQBH, NSRSBH, 
      ZZJGDM)
    values (#{id,jdbcType=VARCHAR}, #{czydm,jdbcType=VARCHAR}, #{czymc,jdbcType=VARCHAR}, 
      #{yhlx,jdbcType=CHAR}, #{yhkl,jdbcType=VARCHAR}, #{qybz,jdbcType=CHAR}, #{cjrdm,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=DATE}, #{kpddm,jdbcType=VARCHAR}, #{fwqbh,jdbcType=VARCHAR}, #{nsrsbh,jdbcType=VARCHAR}, 
      #{zzjgdm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.einvoice.qz.beans.User" >
    insert into dj_czyxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="czydm != null" >
        CZYDM,
      </if>
      <if test="czymc != null" >
        CZYMC,
      </if>
      <if test="yhlx != null" >
        YHLX,
      </if>
      <if test="yhkl != null" >
        YHKL,
      </if>
      <if test="qybz != null" >
        QYBZ,
      </if>
      <if test="cjrdm != null" >
        CJRDM,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="kpddm != null" >
        KPDDM,
      </if>
      <if test="fwqbh != null" >
        FWQBH,
      </if>
      <if test="nsrsbh != null" >
        NSRSBH,
      </if>
      <if test="zzjgdm != null" >
        ZZJGDM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="czydm != null" >
        #{czydm,jdbcType=VARCHAR},
      </if>
      <if test="czymc != null" >
        #{czymc,jdbcType=VARCHAR},
      </if>
      <if test="yhlx != null" >
        #{yhlx,jdbcType=CHAR},
      </if>
      <if test="yhkl != null" >
        #{yhkl,jdbcType=VARCHAR},
      </if>
      <if test="qybz != null" >
        #{qybz,jdbcType=CHAR},
      </if>
      <if test="cjrdm != null" >
        #{cjrdm,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="kpddm != null" >
        #{kpddm,jdbcType=VARCHAR},
      </if>
      <if test="fwqbh != null" >
        #{fwqbh,jdbcType=VARCHAR},
      </if>
      <if test="nsrsbh != null" >
        #{nsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="zzjgdm != null" >
        #{zzjgdm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.einvoice.qz.beans.User" >
    update dj_czyxx
    <set >
      <if test="czydm != null" >
        CZYDM = #{czydm,jdbcType=VARCHAR},
      </if>
      <if test="czymc != null" >
        CZYMC = #{czymc,jdbcType=VARCHAR},
      </if>
      <if test="yhlx != null" >
        YHLX = #{yhlx,jdbcType=CHAR},
      </if>
      <if test="yhkl != null" >
        YHKL = #{yhkl,jdbcType=VARCHAR},
      </if>
      <if test="qybz != null" >
        QYBZ = #{qybz,jdbcType=CHAR},
      </if>
      <if test="cjrdm != null" >
        CJRDM = #{cjrdm,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
      <if test="kpddm != null" >
        KPDDM = #{kpddm,jdbcType=VARCHAR},
      </if>
      <if test="fwqbh != null" >
        FWQBH = #{fwqbh,jdbcType=VARCHAR},
      </if>
      <if test="nsrsbh != null" >
        NSRSBH = #{nsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="zzjgdm != null" >
        ZZJGDM = #{zzjgdm,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.einvoice.qz.beans.User" >
    update dj_czyxx
    set CZYDM = #{czydm,jdbcType=VARCHAR},
      CZYMC = #{czymc,jdbcType=VARCHAR},
      YHLX = #{yhlx,jdbcType=CHAR},
      YHKL = #{yhkl,jdbcType=VARCHAR},
      QYBZ = #{qybz,jdbcType=CHAR},
      CJRDM = #{cjrdm,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE},
      KPDDM = #{kpddm,jdbcType=VARCHAR},
      FWQBH = #{fwqbh,jdbcType=VARCHAR},
      NSRSBH = #{nsrsbh,jdbcType=VARCHAR},
      ZZJGDM = #{zzjgdm,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>